---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/landing/NavBar.vue';
import Hero from '../components/landing/Hero.vue';
import Science from '../components/landing/Science.vue';
import Features from '../components/landing/Features.vue';
import CallToAction from '../components/landing/CallToAction.vue';
import Footer from '../components/landing/Footer.vue';
---

<Layout title="30 Plants a Week - Verbessere Deine Darmgesundheit">
  <main>
    <NavBar client:load />
    <Hero client:load />
    <Science client:visible />
    <Features client:visible />
    <CallToAction client:visible />
    <Footer />
  </main>
</Layout>
